includes:
    - vendor/symplify/phpstan-rules/config/packages/nette/nette-rules.neon
    - vendor/symplify/phpstan-rules/config/packages/symfony/symfony-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon
    - vendor/symplify/phpstan-rules/config/array-rules.neon
    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
    - vendor/symplify/phpstan-rules/config/regex-rules.neon
    - vendor/symplify/phpstan-rules/config/test-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon

parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*

#    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#generic class Rector\\BetterPhpDocParser\\PhpDocInfo\\PhpDocInfo but does not specify its types\: TNode#'
        - '#Use another value object over array with string\-keys and objects, array<string, ValueObject\>#'

        # not on PHP 7.4 yet
        - '#This property type might be inlined to PHP\. Do you have confidence it is correct\? Put it here#'
        - '#Cognitive complexity for "Rector\\Nette\\NodeAnalyzer\\TemplatePropertyAssignCollector\:\:processAssign\(\)" is 21, keep it under 10#'

        # PHPStan false positive. There is no method configure on reported line
        -
            message: '#Method configure\(\) with passed value object must contain assert to verify passed type#'
            path: src/Rector/Class_/TemplateTypeBasedOnPresenterTemplateParametersRector.php

        # waits for php-aprser compatible with nikic/php-parser 4.13
        - '#PhpParser\\Node\\Arg\|PhpParser\\Node\\VariadicPlaceholder#'

        -
            path: src/NodeFactory/ClassWithPublicPropertiesFactory.php
            message: '#Instead of array shape, use value object with specific types in constructor and getters#'

        - '#Dynamic call to static method PHPUnit\\Framework\\Assert\:\:(.*?)\(\)#'
        # rector co-variant
        - '#Parameter \#1 \$node \(PhpParser\\Node\\(.*?) of method Rector\\Nette\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\PhpRectorInterface\:\:refactor\(\)#'

        -
             message: '#Instead of array shape, use value object with specific types in constructor and getters#'
             paths:
                 - src/FileProcessor/LatteFileProcessor.php

        # resolve later
        - '#On passing a constant, the method should have an enum type\. See https\://phpstan\.org/writing\-php\-code/phpdoc\-types\#literals\-and\-constants#'
