{templateType RectorNette\Tests\Rector\Latte\RenameMethodLatteRector\Source\SomeTemplate}

<div n:foreach="$someClass->get() as $item">
    {$item->doSomething()}
</div>
-----
{templateType RectorNette\Tests\Rector\Latte\RenameMethodLatteRector\Source\SomeTemplate}

<div n:foreach="$someClass->getAll() as $item">
    {$item->doSomething()}
</div>
